body {
    background-image: url("https://images.pexels.com/photos/31083484/pexels-photo-31083484.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
}
p {
    font-size: 18px;
    padding: 0px;
}